body, html, #main {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../style/content/Images/background.png") !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.formContainer {
    width: 200% !important;
    height: 100% !important;
    transition: 1s;
}

#formContainer.goToSignUp {
    left: -100%;
}

#formContainer {
    position: absolute;
    transition: 1s;
    left: 0;
}

.content {
    width: 50% !important;
    height: 100%;
    float: left;
    position: relative;
}

.container {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 8px 22px 0 rgba(0, 0, 0, 0.3);
    border-radius: 15px 15px 15px 15px;
    padding: 0!important;
    margin: 10% auto;
    width: 65% !important;
    height: 65%;
    display: flex;
}

a {
    background-color: wheat;
}

/*REDIRECTED SIDE-----------------------------------------------------*/

.container .left {
    border-radius: 15px 0px 0px 15px;
}

.container .right {
    border-radius: 0px 15px 15px 0px;
}

.signup .container .left {
    border-radius: 15px 0px 0px 15px;
}

.signup .container .right {
    border-radius: 0px 15px 15px 0px;
}

.right.mainSide{
    padding-top: 65px;
}

.redirectSide {
    color: white;
    text-align: center;
    width: 40%;
    position: relative;
    margin: 0!important;
    height: 100%;
    background: rgb(209, 107, 165);
    background: radial-gradient(circle, rgba(209, 107, 165, 1) 0%, rgba(134, 168, 231, 1) 100%);
    padding-top: 15%;
}

#followingModelTitle {
    text-align: center;
}

.redirectSide .btn {
    color: white;
    background-color: transparent;
    border: 1px white solid;
    border-radius: 25px;
    width: 45%;
    outline: none;
    margin-top: 15px;
}

.redirectSide .btn:hover {
    color: white;
}

.redirectSide p {
    margin-top: 15px;
}

.btn:focus {
    outline: 0!important;
    box-shadow: none;
}

.btn:hover {
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

/*MAIN SIDE-----------------------------------------------------------------------*/

.mainSide {
    margin: 0!important;
    position: relative;
    width: 60%;
    height: 100%;
    background-color: white;
    text-align: center;
    padding-top: 5%;
}

.mainSide h1 {
    color: #ab8ac7;
    margin-bottom: 35px;
}

.mainSide .form-group {
    margin-left: 15%;
    width: 65%;
}

#forgotPassword {
    font-weight: 450;
    color: gray;
}

#forgotPassword:hover {
    cursor: pointer;
}

hr {
    width: 155px;
    border: none;
    height: 2px;
    margin-top: -12px;
    margin-bottom: 4px;
    background-color: rgba(193, 181, 218, 0.4);
}

.mainSide .btn {
    color: white;
    background-color: #ab8ac7;
    border: 1px white solid;
    border-radius: 25px;
    width: 35%;
    outline: none;
    margin-top: 15px;
}

.mainSide .btn:active:focus {
    background-color: rgba(193, 181, 218, 0.6)!important;
}

.mainSide .btn:hover {
    -webkit-box-shadow: 0 0 10px rgba(193, 181, 218, 0.6);
    box-shadow: 0 0 10px rgba(193, 181, 218, 0.6);
    color: rgb(235, 231, 231);
}

#errorBlock{
    position: absolute;
    font-weight: 400;
    bottom: -16px !important;
    border-radius: 0px 0px 15px 0px;
    width: 100%;
}

#errorBlockReg{
    position: absolute;
    font-weight: 400;
    bottom: -16px !important;
    width: 100%;
    border-radius: 0px 0px 0px 15px;
}

.alert-danger{
    background-color: #9c94d446;
    border-color: #9c94d446;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, .form-control:focus {
    border-color: #aa8ac7bd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #aa8ac7c2;
    outline: 0 none;
}

/*LOADER------------------------------------------*/

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.loading-bar {
    width: 100%;
    height: 8px;
    background: #cfcfcf70;
    position: relative;
    overflow: hidden;
}

.loading-bar::before {
    content: "";
    width: 65%;
    height: 8px;
    background: rgb(209, 107, 165);
    background: linear-gradient(90deg, rgba(209, 107, 165, 1) 0%, rgba(134, 168, 231, 1) 100%);
    position: absolute;
    left: -35%;
    animation: bluebar 2.5s infinite ease;
}

@keyframes bluebar {
    50% {
        left: 65%;
    }
}

/*INPUT ICONS-----------------------------------------------------*/

#loginForm, #loginFormReg {
    background: url("https://img.icons8.com/ios/15/000000/new-post.png") no-repeat 10px 10px;
    padding-left: 30px;
}

#loginForm:focus, #passwordForm:focus, #passwordFormReg:focus, #loginFormReg:focus, #usernameFormReg:focus, #nameFormReg:focus {
    background: none;
    padding-left: 10px;
}

#passwordForm, #passwordFormReg {
    background: url("https://img.icons8.com/ios/15/000000/lock.png") no-repeat 10px 10px;
    padding-left: 30px;
}

#usernameFormReg {
    background: url("https://img.icons8.com/ios/15/000000/chef-hat.png") no-repeat 10px 10px;
    padding-left: 30px;
}

#nameFormReg {
    background: url("https://img.icons8.com/ios/15/000000/user.png") no-repeat 10px 10px;
    padding-left: 30px;
}