#basic {
    background-color: white;
}

.page1 {
    margin-left: 0%;
}

.page2 {
    margin-left: -50%;
}

.page3 {
    margin-left: -100%;
}

#ingredients {
    background-color: white;
}

#directions {
    background-color: white;
}

.createPage #main {
    width: 300%;
    display: flex;
    height: 100vh !important;
    background-color: white;
}

.createPage .content {
    height: 100%;
    width: 100%;
    padding-left: 3%;
    overflow-x: hidden;
    padding-bottom: 5%;
}

.createPage input[type="text"]:focus, .createPage .form-control:focus {
    border-color: rgb(97, 205, 39) !important;
    color: black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(97, 205, 39, 0.575);
    outline: 0 none;
}

#ingredients input[type="text"], #directions input[type="text"] {
    color: white;
}

.pageTitle {
    margin-bottom: 3%;
    color: rgb(126, 126, 126);
}

.title {
    margin-left: 9%;
    margin-bottom: 15px;
}

.createPage input[type="file"] {
    display: none;
}

/*------NAVIGATION BUTTONS & JUST BUTTONS------------------------------------------------------*/

.navigation {
    position: absolute;
    top: 85%;
    right: 5%;
}

.navigation .btn {
    width: 100px;
    background-color: rgb(30, 191, 114) !important;
    color: white !important;
}

.navigation .btn:hover, .selectFileBtn:hover {
    color: white;
    opacity: .7;
}

.navigation .btnPrev {
    margin-right: 10px;
    background-color: rgb(202, 202, 202) !important;
}

.selectFileBtn {
    background-color: rgb(30, 191, 114) !important;
    color: white !important;
    width: 120px;
    padding-right: 5px;
    height: 10%;
    position: relative;
    left: 0;
}

#selectFile_icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-top: -5px;
}

/*----CREATE PROGRESS BAR----------------------------------------------------------*/

#createBar {
    height: 15px;
    background-color: rgb(97, 205, 39);
    text-align: center;
    opacity: .7;
    font-size: xx-small;
    margin-bottom: 30px;
    line-height: 15px;
    color: white;
    border-radius: 25px;
    transition: 1s;
    width: 100%;
}

#createProgress {
    width: 70%;
    border-radius: 25px;
    margin: 4% 9%;
    background-color: rgb(240, 240, 240);
}

/*------BASIC INFORMATION----------------------------------------------------------*/

#basic input {
    width: 76%;
}

.minutes {
    margin-top: 30px;
}

.photoUploadSection {
    height: 30px;
    width: 100%;
}

.photoUploadSection input {
    width: 150% !important;
    margin-left: 20px;
}

.level {
    margin-top: 3%;
}

.meals {
    margin-top: 1%;
}

.level p, .meals p, .photoUploadSection .fileName {
    font-weight: 600;
    margin-left: 15px;
}

.level .title, .meals .title, .photoUploadSection .title {
    font-weight: 600;
    margin-left: 0px;
}

.photoUploadSection .fileName {
    margin-left: 14%;
    line-height: 200%;
    text-decoration: underline;
    color: rgb(194, 194, 194);
}

.photoUploadSection .sub-title {
    margin-top: -15px;
    font-size: x-small;
    color: rgb(189, 189, 189);
}

.levelRadio, .mealRadio {
    display: flex;
}

.levelRadio p:first-child, .mealRadio p:first-child {
    margin-left: 0;
}

[type="radio"]:checked, [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label, [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked+label:before, [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after, [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#level1000p [type="radio"]:checked+label:after, #level1000p [type="radio"]:not(:checked)+label:after {
    background: #a8c678 !important;
}

#level1001p [type="radio"]:checked+label:after, #level1001p [type="radio"]:not(:checked)+label:after {
    background: #FFB483 !important;
}

#level1002p [type="radio"]:checked+label:after, #level1002p [type="radio"]:not(:checked)+label:after {
    background: #ff8b94 !important;
}

#meal [type="radio"]:checked+label:after, #meal [type="radio"]:not(:checked)+label:after {
    background: rgb(126, 126, 126) !important;
}

.uploadImageSource {
    display: flex;
}

/*-----INGREDIENTS------------------------------------------------------------------*/

#addIngredientSection {
    height: 20%;
    padding: 2.5% 1%;
    margin-bottom: 2%;
    width: 50% !important;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.2);
}

.newIngredientInput {
    margin-left: 5px;
    border: none !important;
    font-size: 1em !important;
    border-bottom: 1px solid rgba(30, 191, 113, 0.4)!important;
    border-radius: 0 !important;
    margin-left: 2%;
    color: white !important;
    width: 95% !important;
}

.newIngredientInput:focus {
    border: none !important;
    border-bottom: 1px solid rgba(30, 191, 113, 1)!important;
    box-shadow: 0 5px 6px -6px rgba(30, 191, 113, 0) !important;
    background: url("../style/content/Images/Icons/left-arrow.png") no-repeat 2px 2px;
    background-size: 2%;
    background-position-x: 98%;
    background-position-y: 40%;
    padding-right: 5% !important;
    color: black !important;
}

#ingredients fieldset.form-group {
    position: relative;
}

#ingredients label {
    position: absolute;
    top: 0;
    left: 1rem;
    transition: all .1s ease-in-out;
    cursor: text;
    color: grey;
}

#ingredients :focus+label, #directions :focus+label, .smallLabel {
    color: grey;
    margin-top: -3%;
    font-size: smaller;
    background: white;
}

.ingredient {
    display: flex;
    background-color: rgba(202, 202, 202, 0.1);
    width: 50%;
    margin-top: 10px;
    padding-right: 10px;
}

.ingredient p {
    font-weight: 500;
    color: rgb(46, 46, 46);
    margin-left: 2%;
    margin-top: 2%;
    width: 85%;
    overflow-x: auto;
}

.ingredient .btn {
    width: 15%;
    font-weight: 500;
    color: rgb(175, 41, 41) !important;
    background-color: none;
    border: none;
    text-align: center;
}

.ingredient .btn:hover {
    color: rgb(102, 102, 102) !important;
    box-shadow: none;
}

.ingredient .btn:focus {
    outline: none;
}

#addDirectionSection {
    height: 20%;
    padding: 2.5% 1%;
    margin-bottom: 2%;
    width: 50% !important;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.2);
}

fieldset.form-group {
    position: relative;
}

label {
    position: absolute;
    top: 0;
    left: 1rem;
    transition: all .1s ease-in-out;
    cursor: text;
    color: grey;
}

#basic fieldset label {
    top: 6px;
    left: 10px;
}

.btnNext:disabled, .btnNext[disabled="disabled"] {
    background-color: #666 !important;
}

.btnNext:disabled:hover {
    cursor: not-allowed;
}

.important {
    color: red;
}

.message {
    position: absolute;
    margin-top: 35%;
    width: 100%;
    padding-right: 23%;
    text-align: center;
    color: grey;
    font-size: 1.3em;
    font-weight: 600;
}