body, html {
    margin: 0;
    padding: 0;
    background-image: none !important;
    background-color: white !important;
}

#mainContent {
    width: 100vw;
    height: 100vh;
    background-color: white !important;
}

.menu-section {
    text-decoration: none;
}

.site-title img {
    width: 210px;
    height: 55px;
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.page-container {
    display: grid;
    height: 100%;
}

aside {
    width: 225px;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    position: fixed;
    background-color: white;
}

aside:hover {
    cursor: default;
}

aside .menu-section-title {
    margin-left: 35px;
    margin-top: 35px;
}

aside .menu-section {
    margin-left: 25px;
}

main {
    margin-left: 225px;
}

.menu-section {
    display: flex;
    width: 155px;
    height: 35px;
    padding-left: 15px;
    margin-top: 10px;
}

.menu-section:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

/*HOVER-----------------------------------------------------------------------*/

.glow-on-hover, .menu-section-active {
    border: none;
    outline: none;
    background-color: white;
    /* color: #ab8ac7; */
    cursor: pointer;
    color: black;
    position: relative;
    z-index: 0;
    border-radius: 25px;
}

.menu-section-active {
    color: white;
    background-image: linear-gradient(to right bottom, #86a8e7, #9a9ae1, #b08bd3, #c37bbf, #d16ba5);
}

.glow-on-hover:before, .menu-section-active::before {
    content: '';
    background-image: linear-gradient(to right bottom, #86a8e7, #9a9ae1, #b08bd3, #c37bbf, #d16ba5);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 25px;
}

.glow-on-hover:active {
    color: #ab8ac7;
}

.menu-section-active:active {
    color: #dad4e9
}

.menu-section-active:hover {
    color: #dad4e9
}

.glow-on-hover:active:after {
    background: white;
}

.menu-section-active:active::after {
    background-image: linear-gradient(to right bottom, #86a8e7, #9a9ae1, #b08bd3, #c37bbf, #d16ba5, #c37bbf, #b08bd3, #9a9ae1);
}

.glow-on-hover:hover:before, .menu-section-active:hover:before {
    opacity: 1;
}

.glow-on-hover:after, .menu-section-active:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    left: 0;
    top: 0;
    border-radius: 25px;
}

.menu-section-active:after {
    border-radius: 25px;
    background-color: rgb(14, 14, 14);
    /* background-image: linear-gradient(to right bottom, #86a8e7, #9a9ae1, #b08bd3, #c37bbf, #d16ba5); */
}

.menu-section-active-create img {
    content: url("../style/content/Images/Icons/create-white.png");
}

.menu-section-active-browse img {
    content: url("../style/content/Images/Icons/browse-white.png");
}

.menu-section-active-home img {
    content: url("../style/content/Images/Icons/home-white.png");
}

.menu-section-active-subscriptions img {
    content: url("../style/content/Images/Icons/subscriptions-white.png");
}

.menu-section-active-recipes img {
    content: url("../style/content/Images/Icons/recipes-white.png");
}

.menu-section-active-favourites img {
    content: url("../style/content/Images/Icons/favourites-white.png");
}

.menu-section-active-statistic img {
    content: url("../style/content/Images/Icons/statistic-white.png");
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.menu-section img {
    width: 13px;
    height: 13px;
    margin-right: 25px;
    margin-top: 11px;
}

.menu-section p {
    margin-top: 5px;
}

.menu-section-title {
    color: rgb(172, 172, 172);
}

.page-container{
    background-color: white;
}

@media screen and (max-width: 700px) {
    /* PUSH MENU */
    #menu-switch {
        display: none;
    }
    #menu {
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100%;
        padding: 10px 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s ease-in;
        -moz-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in;
        text-align: center;
        background-color: #fff;
        z-index: 2;
    }

    #menu-switch:checked~#menu {
        left: 0;
    }
    /* MAIN PAGE */
    .page-wrap {
        padding: 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s ease-in;
        -moz-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in;
    }
    #menu-switch:checked~.page-wrap {
        margin-left: 300px;
    }
    /* MENU TOGGLE ICON */
    #menu-toggle:focus {
        outline: none;
    }
    #menu-toggle {
        display: inline-block;
        position: relative;
        width: 51px;
        height: 51px;
        cursor: pointer;
        border: none;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        background: rgb(230, 230, 230);
        z-index: 1;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
    #menu-toggle:before, #menu-toggle:after {
        position: absolute;
        content: "";
        background-color: #232629;
    }
    #menu-toggle:before {
        top: 12px;
        left: 25px;
        width: 1px;
        height: 27px;
    }
    #menu-toggle:after {
        top: 25px;
        left: 12px;
        width: 27px;
        height: 1px;
    }
    #menu-switch:checked~.page-wrap #menu-toggle {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .aside{
        position: relative !important;
    }

    .page-wrap{
        position: absolute;
    }

    aside {
        width: 225px;
        height: 100vh;
        /* background-color: rgb(153, 95, 95) !important; */
    }
    aside .menu-section-title{
        text-align: start;
    }
}

