body, html {
    background-image: none !important;
    background-color: white !important;
}

#recipesSection {
    width: 85vw;
    height: 90vh;
    background-color: white !important;
    overflow-y: auto;
}

.dropdown {
    position: absolute !important;
    right: 0;
    margin-right: 15px;
    margin-top: 15px;
}

.drop-menu {
    text-align: center !important;
    width: 100px;
    right: 0px !important;
    left: auto !important;
}

.drop-menu button {
    color: rgb(165, 165, 165) !important;
}

.drop-menu button:focus, .drop-menu a:focus, .dropdown-item:active {
    background-color: rgba(128, 128, 128, 0.3) !important;
    outline: none;
}

.btn-settings {
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    color: lightgray !important;
    cursor: pointer;
    width: 100%;
}

#logoutBtn {
    color: rgb(165, 165, 165);
    cursor: pointer;
    margin-bottom: 0px;
}

.dropdown-item:hover, #logoutBtn:hover {
    color: rgb(68, 68, 68) !important;
}

#loading {
    text-align: center;
    margin-top: 15%;
    margin-left: 350px;
    position: absolute;
}

#loading img {
    width: 350px;
    height: auto;
    object-fit: cover;
}

#noContentFound img {
    float: right;
    margin-right: 0px;
}

#noContentFound .message {
    float: left;
    margin-left: 140px;
    text-align: center;
    position: absolute;
    margin-top: 20%;
    width: 350px;
    padding: 0;
}

#noContentFound .message #noContentFoundMessage {
    width: 350px;
    font-weight: 400;
    font-size: medium;
    color: rgba(0, 0, 0, 0.7);
}

#noContentFoundMessageHeader {
    color: black;
    font-size: 25px;
    font-weight: 500;
    width: 350px;
}

#goToCreateRecipeBtn {
    padding: 5px 10px;
    font-weight: 400;
    font-size: medium;
    outline: none;
    color: black;
    text-transform: capitalize;
}

/*-------------------------------------------------*/

.pulse-button {
    position: relative;
    border: none;
    box-shadow: 0 0 0 0 #E2E2EA;
    background-color: #E2E2EA;
    cursor: pointer;
    width: 200px;
    height: 35px;
    margin-left: 20%;
    border-radius: 15px;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}

@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 25px #d7b9f100;
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 25px #d7b9f100;
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 25px #d7b9f100;
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 25px #d7b9f100;
    }
}

/*--------------------------------------------------------------------*/

#usersStasticSection table {
    margin-top: 100px;
}