.recipesSection {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
}

.recipeBlock {
    margin-top: 20px;
    margin-left: 20px;
    user-select: none;
}

.recipeImg {
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.3s;
}

.recipeImg:hover {
    cursor: pointer;
    opacity: 0.7;
}

.recipeTimeBlock {
    position: relative;
    color: white;
    background-color: #ab8ac7;
    width: 140px;
    text-align: center;
    padding-top: 5px;
    height: 35px;
    margin-top: -35px;
    border-radius: 15px 0 15px 0;
    margin-left: 210px;
    transition: 0.3s;
    user-select: none;
}

.recipeTimeBlock1000 {
    background-color: #a8c678;
}

.recipeTimeBlock1001 {
    background-color: #FFB483;
}

.recipeTimeBlock1002 {
    background-color: #ff8b94;
}

.recipeName {
    margin-top: 10px;
    margin-bottom: -2px;
    font-weight: 600;
    font-size: large;
    transition: opacity .2s ease-in-out;
}

.recipeName:hover{
    cursor: pointer !important;
    opacity: .7;
}

.recipeCreator {
    margin-bottom: -7px;
    color: gray;
    background-color: transparent;
    font-size: medium;
}

.recipeCreator:hover {
    color: rgb(61, 61, 61);
    cursor: pointer !important;
}

.recipeBlock p:hover, .rating:hover {
    cursor: default;
}

.rating {
    margin-top: -5px;
    font-size: 25px;
    color: 	#ffbf00;
    user-select: none;
}

.rating .filled {
    content: "\2605";
}

/*------------------------------------------------------------------*/

.recipeCircleBtn {
    display: flex;
}

.recipeRemoveBlock, .under, .recipeLikeBlock {
    position: relative;
    z-index: 100;
    margin-top: -190px;
    margin-left: -40px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 40px;
    height: 40px;
    background: url("content/Images/Icons/edit-outlined.png") center center no-repeat;
    background-size: 20px;
    transition: .4s;
    opacity: 0.5;
    border-radius: 100px;
}

.recipeLikeBlock {
    background: url("content/Images/Icons/heart-outlined.png") center center no-repeat;
}

.under {
    background: none;
    background-color: rgba(255, 255, 255, 1);
    opacity: .7;
    margin-left: 300px;
}

.recipeLikeBlock {
    background: url("content/Images/Icons/heart-outlined.png") center center no-repeat;
    background-size: 20px;
}

.recipeRemoveBlock:hover {
    background: url("content/Images/Icons/edit.png") center center no-repeat;
    background-size: 20px;
    opacity: 1;
    cursor: pointer;
}

.recipeLikeBlock:hover {
    background: url("content/Images/Icons/heart.png") center center no-repeat;
    background-size: 20px;
    opacity: 1;
    cursor: pointer;
}

.recipeLiked {
    background: url("content/Images/Icons/heart.png") center center no-repeat;
    background-size: 20px;
    opacity: 1;
}

.recipeLiked:hover {
    background: url("content/Images/Icons/heart-outlined.png") center center no-repeat;
    background-size: 20px;
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    #mainContent {
        width: 100vw !important;
        height: 100vh !important;
        background-color: white !important;
    }
    #mainContent .createPage {
        margin-left: -200px!important;
        margin-top: 80px!important;
        width: 100vw !important;
    }
}

@media screen and (max-width: 700px) {
    #recipesSection{
        margin-left: -140px!important;
        margin-top: 50px!important;
        width: 100vw !important;
    }
}